header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 9;
}

  
.logo-container img {
    max-width: 200px;
    max-height: 170px;
}

#nav-items ul {
    display: flex;
    align-items: left;
}


#nav-items li{
    margin-right: 10px;
}

.nav-items a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

#nav-items a img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
  }

  
.banner {
    height: 100px;
    width: 100%;
    overflow: hidden;
}
  
.banner-content {
    display: flex;
    white-space: nowrap;
    animation: bannermove 15s linear infinite;
}
  
.banner-content a {
    margin: 0 20px;
    font-size: 10px;
    text-decoration: none;
    color: black;
    font-family: 'Ubuntu Mono', monospace;
}
  
@keyframes bannermove {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
}
  